@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary-btn {
    @apply bg-blue-600  text-white font-bold py-2 rounded-md;
    &:hover {
      @apply bg-blue-900;
    }
  }
  .mini-card {
    @apply py-2 w-10 cursor-pointer;
  }

  .chat-card {
    @apply bg-white md:w-[45%] lg:w-[40%] xl:w-[35%] w-[100%]  fixed;
  }
  .top {
    @apply w-full py-5 flex;
  }
  .chat-container {
    @apply w-full h-screen overflow-y-auto;
  }
  .card {
    @apply bg-black;
  }
  .message-card {
    @apply max-w-[70%] px-4 py-2  rounded-lg shadow-md text-black bg-white break-words;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexCol {
  display: flex;
  flex-direction: column;
}

.auth-inputs {
  color: white;
  border: 0 #000;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-inline: 0.75rem;
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width))
    var(--tw-ring-color);
}

.auth-inputs:focus {
  outline: 1.5px solid white;
  outline-offset: 1.5px;
}

.chats > div {
  cursor: pointer;
}
.top-icon > * {
  cursor: pointer;
}
input {
  border-width: 2px;
  border-radius: 0.5rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

/* Bouncing Dots CSS */
.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #3498db;
  border-radius: 50%;
  animation: bounce 1.5s infinite ease-in-out;
}

.dot:nth-child(2) {
  animation-delay: 1s;
}

.dot:nth-child(3) {
  animation-delay: 1s;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Container */
.container {
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}

/* Intro Section */
.intro-section {
  text-align: center;
  margin-bottom: 20px;
}

.greeting {
  font-size: 36px;
  color: #333;
  margin-bottom: 5px;
}

.welcome-message {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

/* Form Styling */
.profile-form {
  padding: 20px 30px;

  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.profile-form label {
  margin: 10px 0;
  font-size: 14px;
}

.profile-form input,
textarea {
  background-color: transparent;
  padding-block: 10px;
  padding-inline: 5px;
  border: 2px solid #000 ;
  border-radius: 5px;
  flex: 1;
}

.profile-form button {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.profile-form button:hover {
  background-color: #0056b3;
}



.avatar {
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.profile-info h1 {
  margin: 5px 0;
}

.profile-info p {
  color: #555;
}

.forgot-password-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 300px;
}

.forgot-password-form div {
  display: flex;
  flex-direction: column;
}

.forgot-password-form label {
  margin-bottom: 0.5rem;
}

.forgot-password-form input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.forgot-password-form button {
  padding: 0.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.forgot-password-form button:hover {
  background-color: #0056b3;
}

/* Typewriter Effect */
.typewrite {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid #000;
  animation: typing 4s steps(40) 1s 1 normal both,
    blinkCaret 0.75s step-end infinite;
}
.typewriter {
  font-family: "Courier New", Courier, monospace;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid #000;
  animation: typing 4s steps(40) 1s 1 normal both,
    blinkCaret 0.75s step-end infinite;
}

/* Typewriter typing animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Caret blink animation */
@keyframes blinkCaret {
  50% {
    border-color: transparent;
  }
}
